.caixa{
align-items: flex-end;
display: flex;
justify-content: center;
}

/*Definido o meu grid da seção destaques*/
.destaques{
    display: grid;
    grid-gap: 0.2rem;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: 33.33% 33.33% 33.33%;
    /*Fazendo com que a seção destaques assuma a posição do final da pagina (100vh é o tamanho do browser inteiro)
    o tamanho do meu cabeçalho tem 50px*/
    height: calc(100vh - 50px);
}

.destaques__titulo{
    background: rgba(0,0,0,.5);
    color: #fdfdfd;
    padding:0.6rem;
    text-align: center;
    width:100%;
}

.destaques__principal{
    background-image: url('../img/fortnite.jpg');
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: cover significa que a imagem vai ocupar toda a area do container*/
    background-size: cover;
    /*Nesse exemplo a imagem do fortnite precisa ir da coluna 1 até a 3 e da linha 1 até a 2*/
    /*Vou começar dizendo as colunas que a imagem vai preencher para fazer a imgame ocupar 3 colunas precisa começar no 1 e terminar no 4*/
    grid-column-start: 1;
    grid-column-end: 4;
    /*Para ocupar 2 linha começa no 1 e termina no 3 (Se ligou na lógica néh)*/
    grid-row-start: 1;
    grid-row-end: 3;

}

.destaques__secundario:nth-child(2){
    background-image: url('../img/pubg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;

}

.destaques__secundario:nth-child(3){
    background-image: url('../img/slack.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.destaques__secundario:nth-child(4){
    background-image: url('../img/whatsapp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.destaques__secundario:nth-child(5){
    background-image: url('../img/cs-go.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.destaques__categorias{
    /*uma forma mais simples de fazer o gri-collumn-start e grid-column-end (tambem com as row)*/
    grid-column: 1/3;
    grid-row: 3/3;
}

.destaques__categorias___lista{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
}

.destaques__categorias___item{
    align-items: center;
    background: #fdfdfd;
    border-left: 5px solid transparent;
    color: #333333;
    display: flex;
    padding: 1rem;
    width: 50%;
}

.destaques__categorias___link{
    /*color: inherit faz a minha tag a pegar a cor do meu elemento pai, no caso #fdfdfd; de cima*/
    color: inherit;
}

